:root {
  --colour_primary: #58595b;
  --colour_grey1: #F3F1F2;
  --colour_blue1: #0E77D2;
  --colour_blue2: #1C68A5;
  --colour_yellow: #F0B41C;
}

html {
  background-size: cover;
  background: linear-gradient(var(--colour_grey1), #FFF);
  font-size: 10px;
  height: 100%;
}

body {
  color: var(--colour_primary);
  font-family: 'Rubik', sans-serif;
  font-size: 1.6rem;
  line-height: 1.25;
  margin: 0;
  text-align: center;
}

h1,
h2,
p {
  margin: 1.25em auto 0;
}

h1 {
  background: url("../images/nulogy_mark.svg") center top / 18rem no-repeat;
  padding-top: 22rem;
  color: var(--colour_blue1);
  font-size: 6.4rem;
}

h2 {
  color: var(--colour_yellow);
  font-size: 2.62rem;
  font-weight: normal;
  line-height: 3rem;
  margin-top: 3rem;
}

a,
a:link,
a:active,
a:visited {
  color: var(--colour__blue1);
  text-decoration: none;
}

a:hover {
  color: var(--colour__blue2);
}

.billboard {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  max-height: 80rem;
}

.github {
 margin-top: 6rem;
}

.github__link {
  background-image: url("../images/Octicons-mark-github.svg");
  background-size: contain;
  display: inline-block;
  height: 4rem;
  opacity: 0.1;
  width: 4rem;
}
.github__link:hover {
  opacity: 0.2;
}

.hidden {
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px; width: 1px;
  overflow: hidden;
  position: absolute !important;
}
