html {
  background-color: red;
  background-size: cover;
  background: linear-gradient(#FFF, #F3F1F2);
  font-size: 10px;
  height: 100%;
}

body {
  color: #58595b;
  font-family: 'Rubik', sans-serif;
  font-size: 1.6rem;
  line-height: 1.25;
  text-align: center;
  margin: 0;
}

h1,
h2,
p {
  margin: 1.25em auto 0;
}

h1 {
  color: #0E77D2;
  font-size: 6.4rem;
}

h2 {
  color: #F0B41C;
  font-size: 2.62rem;
  line-height: 3rem;
  margin-top: 3rem;
  font-weight: normal;
}

a,
a:link,
a:active,
a:visited {
  color: #0E77D2;
  text-decoration: none;
}

a:hover {
  color: #1C68A5;
}

.billboard {
  height: 100vh;
  max-height: 80rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.github {
 margin-top: 6rem;
}

.github__link {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  opacity: 0.1;
  background-size: contain;
  background-image: url("../images/Octicons-mark-github.svg");
}
.github__link:hover {
  opacity: 0.2;
}

.github__hide {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
