h1,
h2,
p {
  margin: 1.25em auto 0;
}

h1 {
  font-size: 6.4rem;
}

h2 {
  font-size: 3.2;
}

a,
a:link,
a:active,
a:visited {
  color: var(--colour_blue2);
  text-decoration: none;
}

a:hover {
  color: var(--colour_blue1);
}

.App {
  text-align: center;
}

.jumbotron {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  max-height: 80rem;
}

.jumbotron__heading {
  background: url("../images/nulogy_mark.svg") center top / 18rem no-repeat;
  padding-top: 22rem;
  color: var(--colour_blue1);
}

.jumbotron__subheading {
  color: var(--colour_yellow);
  font-size: 2.62rem;
  font-weight: normal;
  line-height: 3rem;
  margin-top: 3rem;
}

.github {
  margin-top: 6rem;
}

.github__link {
  background-image: url("../images/Octicons-mark-github.svg");
  background-size: contain;
  display: inline-block;
  height: 4rem;
  opacity: 0.1;
  width: 4rem;
}
.github__link:hover {
  opacity: 0.2;
}

.button__Big {
  display: inline-block;
  border: 2px solid;
  border-radius: .6rem;
  padding: 1.5rem 4rem;
  text-decoration: none;
}

.button__Big:hover {
  color: white;
  background-color: var(--colour_blue1);
}

.hidden {
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px; width: 1px;
  overflow: hidden;
  position: absolute !important;
}
